<.header>
  Edit Story <%= @story.id %>
  <:subtitle>Use this form to manage story records in your database.</:subtitle>
</.header>

<.story_form changeset={@changeset} action={~p"/stories/#{@story}"} />

<.back navigate={~p"/stories"}>Back to stories</.back>
