<.header>
  New Story
  <:subtitle>Use this form to manage story records in your database.</:subtitle>
</.header>

<.story_form changeset={@changeset} action={~p"/stories"} />

<.back navigate={~p"/stories"}>Back to stories</.back>
