<.header>
  Story <%= @story.id %>
  <:subtitle>This is a story record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/stories/#{@story}/edit"}>
      <.button>Edit story</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @story.name %></:item>
</.list>

<.back navigate={~p"/stories"}>Back to stories</.back>
